:root {
  --system-color: #0d6efd;
  --darkness-color: rgba(15, 91, 204, 0.8);
  --unseen: rgba(144, 188, 255, 0.1);
}

.sender,
.sender-wrapper-inf,
.sender-answer-times {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sender-wrapper-inf img {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--darkness-color);
}

.sender-mail {
  color: var(--darkness-color);
  font-weight: bold;
  font-size: 14px;
  margin: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.sender.unseen {
  background-color: var(--unseen);
  border-left: 3px solid var(--system-color);
}

.search-input {
  border: 1px solid rgba(204, 204, 204, 0.4);
  border-radius: 10px;
  padding: 5px 15px;
  outline: none;
}

.search-input:focus {
  box-shadow: 0 0 2px 0 var(--system-color);
}

.search-btn {
  margin-left: -15px;
  padding: 5px 10px;
  border: 1px solid var(--system-color);
  background-color: var(--system-color);
  color: #fff;
  border-radius: 0 10px 10px 0;
}

.sender {
  margin-bottom: 7px;
  border: 1px solid rgba(204, 204, 204, 0.4);
}

.sender a {
  text-decoration: none !important;
  color: #333 !important;
  transition: 0.3s;
}

.sender a:hover {
  color: var(--system-color) !important;
}

.refresh i{
  transition: 1s;
  transform: rotate(360deg);
}
